zxing-scanner {
  max-width: 100%;
}

header {

  position: sticky;
  top: 0;
  padding: 10px;
  background: #333;
  display: flex;

  button {
    margin-left: 8px;
  }

  mat-form-field {

    width: 100%;
    font-weight: bold;

    ::ng-deep {
      .mat-form-field-wrapper {

        padding: 0;

        .mat-form-field-flex {
          padding-top: 0;
        }
      }
      .mat-form-field-underline {
        bottom: 0;
      }
    }

    option {
      padding: 10px;
      line-height: 2;
      background: #474747;
      color: #fff;
    }
  }
}

.results {

  position: sticky;
  bottom: 0;
  padding: 15px;
  background: #02c3c3;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  small {
    font-weight: bolder;
    display: block;
    font-size: 60%;
    margin: -.6em 0 0 0;
  }

  button {
    background: none;
    border: none;
    line-height: 1;
    font-weight: bolder;
    font-size: 120%;
    float: right;
    color: #fff;
    $mg: 8px;
    margin: (-$mg) (-$mg) (-$mg) $mg;
  }
}

h2 {
  padding: 0 16px;
}

.gradient {
  -webkit-mask: linear-gradient(#000 0 0) 50% 50% / 80% 40%,
    linear-gradient(rgba(0, 0, 0, 0.8) 0 0);
  mask: linear-gradient(#000 0 0) 50% 50% / 80% 40%,
  linear-gradient(rgba(0, 0, 0, 0.8) 0 0);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 30%;
  left: 10%;
  border-top: 5px solid white;
  border-left: 5px solid white;
}

.top-right {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 30%;
  right: 10%;
  border-top: 5px solid white;
  border-right: 5px solid white;
}

.bottom-left {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 30%;
  left: 10%;
  border-bottom: 5px solid white;
  border-left: 5px solid white;
}

.bottom-right {
  position: absolute;
  width: 10%;
  height: 10%;
  bottom: 30%;
  right: 10%;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}

.centered {
  height: 1%;
  width: 70%;
  border-width: 0;
  color: red;
  background-color: red;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}